<html>
  <head>
    <title>{{title}}</title>
    
    <meta charset="utf-8"    />
    <meta name="generator"   content="Noze.io/MicroExpress" />
    <meta name="DC.creator"  content="___FULLUSERNAME___"   />
    <meta name="DC.type"     content="Document"  />
    <meta name="DC.format"   content="text/html" />
    <meta name="DC.language" content="en"        />
    
    <style>body { font-family: -apple-system, sans-serif; }</style>
  </head>
  
  <body>
    <h1>{{title}}</h1>
    <p>
      Hello, {{text}} world!
    </p>
  </body>
</html>